node_modules/
dist/
*.tsbuildinfo
.env
.env.bak*
var/
apps/**/src/*.js
packages/**/src/*.js
packages/**/src/*.d.ts
tests/*.js
apps/**/src/**/*.js
packages/**/src/**/*.js
apps/**/src/**/*.d.ts
packages/**/src/**/*.d.ts
test-results/
logs/
/apps/api/generated/
